html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  font-family: "GillSans", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  max-width: 500px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  padding-bottom: 200px;
  background-color: var(--bg);
  z-index: 0;
}
body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #242431;
  --bgSocialCard: #201F4a;
  --invertLogo: invert(1);
  --shadowcolor: 0 2px 25px rgba(255,255, 255, 0.40);
  --textNormal: rgba(255, 255, 255, 0.95);
  --footerGradientBGC: rgb(31,35,73);
  --footerGradientBGCC: linear-gradient(23deg, rgba(31,35,73,1) 0%, rgba(78,0,180,1) 100%);
  --allcatalog_buttonBGC: rgb(0,182,255);
  --allcatalog_buttonBGCC: linear-gradient(190deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
  --allcatalog_button_: rgb(0,182,255);
  --allcatalog_button__: linear-gradient(190deg, rgba(0,182,255,1) 0%, rgba(30,77,216,1) 100%);
}
body {
  --bg: #fff;
  --bgSocialCard: #fff;
  --invertLogo: invert(0);
  --shadowcolor: 0 2px 25px rgba(0,0, 0, 0.35);
  --footerGradientBGC: rgb(121,255,214);
  --footerGradientBGCC: linear-gradient(141deg, rgba(121,255,214,1) 0%, rgba(112,207,255,1) 49%, rgba(168,142,242,1) 100%);
  --allcatalog_buttonBGC: rgb(0,192,255);
  --allcatalog_buttonBGCC: linear-gradient(0deg, rgba(0,192,255,1) 0%, rgba(172,0,255,1) 100%);
  --allcatalog_button_: white;
  --allcatalog_button__: white;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
button {
  outline: none;
}
a{
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {

}
