.header {
  margin-right: 25px;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 23px;
}

.logo{
  filter: var(--invertLogo);
}

.brand-line {
  position: relative;
  height: 4px;
  margin-top: -9.5px;
  margin-left: 23px;
  background: rgb(126,255,177);
  background: linear-gradient(90deg, rgba(126,255,177,1) 0%, rgba(126,237,255,1) 25%, rgba(167,127,255,1) 75%, rgba(255,126,249,1) 100%);
  margin-bottom: 33px;
  width: auto;
}

.brand-description {
  float: right;
  position: relative;
  margin-top: -63px;
  font-family: "GillSans", sans-serif;
  font-size: 1em;
  line-height: normal;
  text-align: right;
  line-height: 0.92;
  color: var(--textNormal);
}

.footer {
  margin-top: -60px;
  padding-top: 110px;
  z-index: 0;
  padding-bottom: 50px;
  background: var(--footerGradientBGC);
  background: var(--footerGradientBGCC);
  -webkit-box-shadow: 0 4px 6px -6px black;
     -moz-box-shadow: 0 4px 6px -6px black;
          box-shadow: 0 4px 6px -6px black;
}

.merchbutton {
  font-family: 'GillSans-SemiBold', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  /*background-color: $button-bg;*/
  color: #D44362;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.allcatalog_button {
  width: 88%;
  font-family: 'GillSans', sans-serif;
  font-size: 1em;
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--allcatalog_button_);
  background: var(--allcatalog_button__);
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  display: block;
  margin: 20px auto 0px auto;
  border: none;
  color: white;
}


/* Uncomment the flexbox declarations to see the gradient text break */
.allcatalog_button::after {
  content: "Перейти в каталог";
  background: var(--allcatalog_buttonBGC);
  background: var(--allcatalog_buttonBGCC);
  font-size: 1em;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  box-shadow: var(--allcatalog_button_glow);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 0.45fr));
  grid-gap: 0px;
  justify-content: center;
  justify-content: center;
  align-content: center;
}

.item {
  width: 160px;
  align-self: center;
  justify-self: center;
}

.about-company-text {
  width: 85%;
  text-align: center;
  display: block;
  margin: 45px auto 0px auto;
  position: relative;
  font-family: "GillSans", sans-serif;
  font-weight: 100;
  color: var(--textNormal);
  font-size: 1em;
}

.social-buttons {
  position: relative;
  z-index: 1;
  margin: 45px auto 0 auto;
  box-shadow: var(--shadowcolor);
  background-color: var(--bgSocialCard);
  width: 85%;
  padding-bottom: 18px;
  border-radius: 30px;
  display: block;
  color: var(--textNormal);
}

.social-buttons p {
  padding-top: 18px;
  font-family: "GillSans", sans-serif;
  text-align: center;
  margin: 0 auto 0 auto;
}

.call_button {
  /*width: 88%;*/
  font-family: 'GillSans-SemiBold', sans-serif;
  font-size: 1em;
  padding: 10px 30px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  display: block;
  margin: 0px auto 0px auto;
  border: none;
  border: solid 3px var(--call_button_outline);
  background: rgba(255, 255, 255,0);
  color: white;
}

.mail_button {
  /*width: 88%;*/
  font-family: 'GillSans-SemiBold', sans-serif;
  font-size: 1em;
  padding: 10px 37px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  display: block;
  margin: 15px auto 0px auto;
  border: none;
  border: solid 3px white;
  background: rgba(255, 255, 255,0);
  color: white;
}

.madeinrussia {
  position: relative;
  width: 50px;
  float: right;
  bottom: -25px;
  right: 10px;
}

.kostyl {
  z-index: 0;
  background-color: var(--bg);
}

.footerimg {
  z-index: -99999;
  position: fixed;
  width: 100%;
  max-width: 500px;
  bottom: 0;
}

/*@media only screen and (min-width: 480px) {

}*/
